@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C900&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700%3B0%2C900%3B1%2C400%3B1%2C700%3B1%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C900&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-REJ2YbT2A3zSXW: #ffffff;
  --plasmic-token-white: var(--token-REJ2YbT2A3zSXW);
  --token-eblYLnw4wT4qzY: #e5aa43;
  --plasmic-token-gold: var(--token-eblYLnw4wT4qzY);
  --token-4eFaJekC4e7umL: 1px;
  --plasmic-token-padd-menu: var(--token-4eFaJekC4e7umL);
  --token-0lz5kOKCw: 1.5;
  --plasmic-token-unnamed-style-token: var(--token-0lz5kOKCw);
}

.plasmic_default_styles {
  --mixin-xw5RHWEcEDZo__font-family: "Inter";
  --mixin-xw5RHWEcEDZo__font-size: 16px;
  --mixin-xw5RHWEcEDZo__font-weight: 400;
  --mixin-xw5RHWEcEDZo__font-style: normal;
  --mixin-xw5RHWEcEDZo__color: #535353;
  --mixin-xw5RHWEcEDZo__text-align: left;
  --mixin-xw5RHWEcEDZo__text-transform: none;
  --mixin-xw5RHWEcEDZo__line-height: 1.5;
  --mixin-xw5RHWEcEDZo__letter-spacing: normal;
  --mixin-xw5RHWEcEDZo__white-space: pre-wrap;
  --mixin-xw5RHWEcEDZo__user-select: text;
  --mixin-xw5RHWEcEDZo__text-decoration-line: none;
  --mixin-xw5RHWEcEDZo__text-overflow: clip;
  --mixin-_Dx_6fbZRN1Gb_color: var(--token-REJ2YbT2A3zSXW);
  --mixin-_Dx_6fbZRN1Gb_font-weight: 400;
  --mixin-_Dx_6fbZRN1Gb_font-size: 52px;
  --mixin-_Dx_6fbZRN1Gb_line-height: 1;
  --mixin-_Dx_6fbZRN1Gb_letter-spacing: 0px;
  --mixin-_Dx_6fbZRN1Gb_font-family: "Merriweather";
  --mixin-WsWstnfQeah0M_color: #000000;
  --mixin-WsWstnfQeah0M_font-weight: 500;
  --mixin-WsWstnfQeah0M_font-size: 36px;
  --mixin-WsWstnfQeah0M_line-height: 1.1;
  --mixin-WsWstnfQeah0M_letter-spacing: 0px;
  --mixin-WsWstnfQeah0M_font-family: "Merriweather";
  --mixin-Ai5wT5WzmkC2C_color: var(--token-eblYLnw4wT4qzY);
  --mixin-olNSa0l7XOz1F_color: #000000;
  --mixin-olNSa0l7XOz1F_font-weight: 500;
  --mixin-olNSa0l7XOz1F_font-size: 23px;
  --mixin-olNSa0l7XOz1F_line-height: 1.2;
  --mixin-olNSa0l7XOz1F_letter-spacing: 0px;
  --mixin-mA1tF5O8E_yRk_color: #000000;
  --mixin-mA1tF5O8E_yRk_font-weight: 600;
  --mixin-mA1tF5O8E_yRk_font-size: 24px;
  --mixin-mA1tF5O8E_yRk_line-height: 1.3;
  --mixin-mA1tF5O8E_yRk_letter-spacing: -0.5px;
  --mixin-bgIie_whPyaoh_font-family: "Inconsolata";
  --mixin-bgIie_whPyaoh_padding-top: 1px;
  --mixin-bgIie_whPyaoh_padding-right: 4px;
  --mixin-bgIie_whPyaoh_padding-bottom: 1px;
  --mixin-bgIie_whPyaoh_padding-left: 4px;
  --mixin-bgIie_whPyaoh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-bgIie_whPyaoh_border-top-color: #dddddd;
  --mixin-bgIie_whPyaoh_border-top-width: 1px;
  --mixin-bgIie_whPyaoh_border-top-style: solid;
  --mixin-bgIie_whPyaoh_border-right-color: #dddddd;
  --mixin-bgIie_whPyaoh_border-right-width: 1px;
  --mixin-bgIie_whPyaoh_border-right-style: solid;
  --mixin-bgIie_whPyaoh_border-bottom-color: #dddddd;
  --mixin-bgIie_whPyaoh_border-bottom-width: 1px;
  --mixin-bgIie_whPyaoh_border-bottom-style: solid;
  --mixin-bgIie_whPyaoh_border-left-color: #dddddd;
  --mixin-bgIie_whPyaoh_border-left-width: 1px;
  --mixin-bgIie_whPyaoh_border-left-style: solid;
  --mixin-bgIie_whPyaoh_border-top-left-radius: 3px;
  --mixin-bgIie_whPyaoh_border-top-right-radius: 3px;
  --mixin-bgIie_whPyaoh_border-bottom-right-radius: 3px;
  --mixin-bgIie_whPyaoh_border-bottom-left-radius: 3px;
  --mixin-rUMtOuiPWyEbt_color: #888888;
  --mixin-rUMtOuiPWyEbt_padding-left: 10px;
  --mixin-rUMtOuiPWyEbt_border-left-width: 3px;
  --mixin-rUMtOuiPWyEbt_border-left-style: solid;
  --mixin-rUMtOuiPWyEbt_border-left-color: #dddddd;
  --mixin-eJx_dqxdZF6bo_padding-top: 3px;
  --mixin-eJx_dqxdZF6bo_padding-right: 6px;
  --mixin-eJx_dqxdZF6bo_padding-bottom: 3px;
  --mixin-eJx_dqxdZF6bo_padding-left: 6px;
  --mixin-eJx_dqxdZF6bo_font-family: "Inconsolata";
  --mixin-eJx_dqxdZF6bo_border-top-left-radius: 3px;
  --mixin-eJx_dqxdZF6bo_border-top-right-radius: 3px;
  --mixin-eJx_dqxdZF6bo_border-bottom-right-radius: 3px;
  --mixin-eJx_dqxdZF6bo_border-bottom-left-radius: 3px;
  --mixin-eJx_dqxdZF6bo_border-top-color: #dddddd;
  --mixin-eJx_dqxdZF6bo_border-top-width: 1px;
  --mixin-eJx_dqxdZF6bo_border-top-style: solid;
  --mixin-eJx_dqxdZF6bo_border-right-color: #dddddd;
  --mixin-eJx_dqxdZF6bo_border-right-width: 1px;
  --mixin-eJx_dqxdZF6bo_border-right-style: solid;
  --mixin-eJx_dqxdZF6bo_border-bottom-color: #dddddd;
  --mixin-eJx_dqxdZF6bo_border-bottom-width: 1px;
  --mixin-eJx_dqxdZF6bo_border-bottom-style: solid;
  --mixin-eJx_dqxdZF6bo_border-left-color: #dddddd;
  --mixin-eJx_dqxdZF6bo_border-left-width: 1px;
  --mixin-eJx_dqxdZF6bo_border-left-style: solid;
  --mixin-eJx_dqxdZF6bo_background: linear-gradient(#f8f8f8, #f8f8f8);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-xw5RHWEcEDZo__font-family);
  font-size: var(--mixin-xw5RHWEcEDZo__font-size);
  font-weight: var(--mixin-xw5RHWEcEDZo__font-weight);
  font-style: var(--mixin-xw5RHWEcEDZo__font-style);
  color: var(--mixin-xw5RHWEcEDZo__color);
  text-align: var(--mixin-xw5RHWEcEDZo__text-align);
  text-transform: var(--mixin-xw5RHWEcEDZo__text-transform);
  line-height: var(--mixin-xw5RHWEcEDZo__line-height);
  letter-spacing: var(--mixin-xw5RHWEcEDZo__letter-spacing);
  white-space: var(--mixin-xw5RHWEcEDZo__white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-_Dx_6fbZRN1Gb_color);
  font-weight: var(--mixin-_Dx_6fbZRN1Gb_font-weight);
  font-size: var(--mixin-_Dx_6fbZRN1Gb_font-size);
  line-height: var(--mixin-_Dx_6fbZRN1Gb_line-height);
  letter-spacing: var(--mixin-_Dx_6fbZRN1Gb_letter-spacing);
  font-family: var(--mixin-_Dx_6fbZRN1Gb_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-WsWstnfQeah0M_color);
  font-weight: var(--mixin-WsWstnfQeah0M_font-weight);
  font-size: var(--mixin-WsWstnfQeah0M_font-size);
  line-height: var(--mixin-WsWstnfQeah0M_line-height);
  letter-spacing: var(--mixin-WsWstnfQeah0M_letter-spacing);
  font-family: var(--mixin-WsWstnfQeah0M_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-Ai5wT5WzmkC2C_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-olNSa0l7XOz1F_color);
  font-weight: var(--mixin-olNSa0l7XOz1F_font-weight);
  font-size: var(--mixin-olNSa0l7XOz1F_font-size);
  line-height: var(--mixin-olNSa0l7XOz1F_line-height);
  letter-spacing: var(--mixin-olNSa0l7XOz1F_letter-spacing);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-mA1tF5O8E_yRk_color);
  font-weight: var(--mixin-mA1tF5O8E_yRk_font-weight);
  font-size: var(--mixin-mA1tF5O8E_yRk_font-size);
  line-height: var(--mixin-mA1tF5O8E_yRk_line-height);
  letter-spacing: var(--mixin-mA1tF5O8E_yRk_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-bgIie_whPyaoh_font-family);
  background: var(--mixin-bgIie_whPyaoh_background);
  border-radius: var(--mixin-bgIie_whPyaoh_border-top-left-radius)
    var(--mixin-bgIie_whPyaoh_border-top-right-radius)
    var(--mixin-bgIie_whPyaoh_border-bottom-right-radius)
    var(--mixin-bgIie_whPyaoh_border-bottom-left-radius);
  padding: var(--mixin-bgIie_whPyaoh_padding-top)
    var(--mixin-bgIie_whPyaoh_padding-right)
    var(--mixin-bgIie_whPyaoh_padding-bottom)
    var(--mixin-bgIie_whPyaoh_padding-left);
  border-top: var(--mixin-bgIie_whPyaoh_border-top-width)
    var(--mixin-bgIie_whPyaoh_border-top-style)
    var(--mixin-bgIie_whPyaoh_border-top-color);
  border-right: var(--mixin-bgIie_whPyaoh_border-right-width)
    var(--mixin-bgIie_whPyaoh_border-right-style)
    var(--mixin-bgIie_whPyaoh_border-right-color);
  border-bottom: var(--mixin-bgIie_whPyaoh_border-bottom-width)
    var(--mixin-bgIie_whPyaoh_border-bottom-style)
    var(--mixin-bgIie_whPyaoh_border-bottom-color);
  border-left: var(--mixin-bgIie_whPyaoh_border-left-width)
    var(--mixin-bgIie_whPyaoh_border-left-style)
    var(--mixin-bgIie_whPyaoh_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-rUMtOuiPWyEbt_color);
  padding-left: var(--mixin-rUMtOuiPWyEbt_padding-left);
  border-left: var(--mixin-rUMtOuiPWyEbt_border-left-width)
    var(--mixin-rUMtOuiPWyEbt_border-left-style)
    var(--mixin-rUMtOuiPWyEbt_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-eJx_dqxdZF6bo_font-family);
  background: var(--mixin-eJx_dqxdZF6bo_background);
  border-radius: var(--mixin-eJx_dqxdZF6bo_border-top-left-radius)
    var(--mixin-eJx_dqxdZF6bo_border-top-right-radius)
    var(--mixin-eJx_dqxdZF6bo_border-bottom-right-radius)
    var(--mixin-eJx_dqxdZF6bo_border-bottom-left-radius);
  padding: var(--mixin-eJx_dqxdZF6bo_padding-top)
    var(--mixin-eJx_dqxdZF6bo_padding-right)
    var(--mixin-eJx_dqxdZF6bo_padding-bottom)
    var(--mixin-eJx_dqxdZF6bo_padding-left);
  border-top: var(--mixin-eJx_dqxdZF6bo_border-top-width)
    var(--mixin-eJx_dqxdZF6bo_border-top-style)
    var(--mixin-eJx_dqxdZF6bo_border-top-color);
  border-right: var(--mixin-eJx_dqxdZF6bo_border-right-width)
    var(--mixin-eJx_dqxdZF6bo_border-right-style)
    var(--mixin-eJx_dqxdZF6bo_border-right-color);
  border-bottom: var(--mixin-eJx_dqxdZF6bo_border-bottom-width)
    var(--mixin-eJx_dqxdZF6bo_border-bottom-style)
    var(--mixin-eJx_dqxdZF6bo_border-bottom-color);
  border-left: var(--mixin-eJx_dqxdZF6bo_border-left-width)
    var(--mixin-eJx_dqxdZF6bo_border-left-style)
    var(--mixin-eJx_dqxdZF6bo_border-left-color);
}
